<?xml version="1.0" encoding="UTF-8" ?>
<globalmenu defaultpage="Dashboard">
    
        <menu>
            <classe>icon-home</classe>
            <title>Home</title>
            <sousmenu>
                <template>cloud</template>
                <title>Dashboard</title>
                 <underclasse>icon-bar-chart</underclasse>
            </sousmenu>
            <sousmenu>
                <template>Dashboard2</template>
                <title>Dashboard2</title>
                <underclasse>icon-bulb</underclasse>
            </sousmenu>
            <sousmenu>
                <template>Dashboard3</template>
                <title>Dashboard3</title>
                <underclasse>icon-graph</underclasse>
            </sousmenu>
        </menu>
        <menu>
            <classe>icon-bar-chart</classe>
            <title>Setting</title>
            <sousmenu>
                <template>profile</template>
                <title>My account</title>
                <underclasse>icon-graph</underclasse>
            </sousmenu>
			<sousmenu>
                <template>setting</template>
                <title>My Setting </title>
                <underclasse>icon-graph</underclasse>
            </sousmenu>
        </menu>
   
</globalmenu>