

	<!-- iCheck -->
    <link href="/puls/inc/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
 <!-- bootstrap-wysiwyg -->
    <link href="/puls/inc/vendors/google-code-prettify/bin/prettify.min.css" rel="stylesheet">

<!-- Select2 -->
<link href="/puls/inc/vendors/select2/dist/css/select2.min.css"
	rel="stylesheet">
	 <!-- Switchery -->
    <link href="/puls/inc/vendors/switchery/dist/switchery.min.css" rel="stylesheet">
    
    <!-- starrr -->
    <link href="/puls/inc/vendors/starrr/dist/starrr.css" rel="stylesheet">
    
<!-- Dropzone.css -->
<link href="/puls/inc/vendors/dropzone/dist/min/dropzone.min.css"
	rel="stylesheet">


{{i18n "hello"}}
{{> user}}

<script  type="text/javascript">

  require([
             'dropzone',
             'fastclick',
             'nprogress',
             'eve',
             'raphael',
             'morris',
             'jquerytagsinput',
             'select2',
             'daterangepicker',
             'updateProfilPicture',
             'user',
             'userView',
             'handlebars'
            // 'switchery'
             
             ],
             function(
             Dropzone,
             fastclick,
             nprogress,
             eve,
             raphael,
             Morris,
             jquerytagsinput,
             select2,
             daterangepicker,
             updateProfilPicture,
             User,
             UserView,
             Handlebars
            // switchery
             		
            ) {
	  
	  
	  
	  debugger;
	  var userModel= User;
	  var idUser={{dusID}};
	  var userView= new UserView({model:new userModel({id:idUser})});
	  
	  app.ListModel.add(userView.model);
	  app.ListView.add(userView);
	  debugger;
    });
 

  </script>   


