<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
  http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
  http://www.springframework.org/schema/context 
  http://www.springframework.org/schema/context/spring-context-4.0.xsd
  http://www.springframework.org/schema/tx 
  http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">



<context:annotation-config />
	<context:component-scan base-package="controller,model,filter,other,scheduler" />


	
 <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
	<!-- <property name="hibernateProperties">
		<props>
			<prop key="hibernate.connection.provider_class">com.jolbox.bonecp.provider.BoneCPConnectionProvider</prop>
			<prop key="hibernate.connection.driver_class">com.mysql.jdbc.Driver</prop>
			<prop key="hibernate.connection.url">jdbc:mysql://localhost:3306/puls</prop>
			<prop key="hibernate.connection.username">puls</prop>
			<prop key="hibernate.connection.password">antec972</prop>
			<prop key="hbm2ddl.auto">update</prop>
			<prop key="bonecp.idleMaxAge">240</prop>
			<prop key="bonecp.idleConnectionTestPeriod">60</prop>
			<prop key="bonecp.partitionCount">3</prop>
			<prop key="bonecp.acquireIncrement">10</prop>
			<prop key="bonecp.maxConnectionsPerPartition">60</prop>
 			<prop key="bonecp.minConnectionsPerPartition">20</prop>
 			<prop key="bonecp.statementsCacheSize">50</prop>
 			<prop key="bonecp.releaseHelperThreads">3</prop>
		</props>
	</property>
	<property name="packagesToScan">
            <list>
                <value>bean.UserBean</value>
            </list>
        </property> -->
        
        <property name="ConfigLocation">
            
                <value>classpath:hibernate.cfg.xml</value>
            
        </property> 
        
	
</bean>

 <bean id="marshaller" class="org.springframework.oxm.jaxb.Jaxb2Marshaller">
    <property name="classesToBeBound">
        <list>
            <value>model.menu.Globalmenu</value>
            
        </list>
    </property>
    <property name="schemas">
        <list>
            <value>classpath:schema.xsd</value>
        </list>
    </property>
</bean>
 
<!--  Déclaration des DAO JDBC-->
	
	<bean id="userDao" class="model.dao.UserDao" name="userDao">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="daoCenter" class="model.dao.DaoCenter" name="daoCenter">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean name="jobscheduler"    class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
    <property name="jobClass" value="scheduler.ScheduleTask" />
    <property name="durability" value="true" />
</bean>

<!-- Run the job every 2 seconds with initial delay of 1 second -->
<!--Simple Trigger , using SimpleTriggerFactoryBean-->
<bean id="simpleTrigger"  class="org.springframework.scheduling.quartz.SimpleTriggerFactoryBean">
    <property name="jobDetail" ref="jobscheduler" /><!--"jobscheduler" from the jobDetailFactoryBean  -->
    <property name="startDelay" value="1000" />
    <property name="repeatInterval" value="2000" />
</bean>

<!--Configure SchedulerFactoryBean that creates and configures Quartz Scheduler-->
	
<!-- Scheduler factory bean to glue together jobDetails and triggers to Configure Quartz Scheduler -->
<bean  class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
    <property name="jobDetails">
        <list>
            <ref bean="jobscheduler" />
           
        </list>
    </property>
 
    <property name="triggers">
        <list>
            <ref bean="simpleTrigger" />
        </list>
    </property>
</bean>

   
</beans>
