<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
 
  <display-name>Project ManagO</display-name>
  
  <!-- *********************************************Listener**************************************************** -->
  
    <listener>

    <listener-class>other.DefaultProperties</listener-class>

   </listener>
    
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<listener>
		<listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
	</listener>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			/WEB-INF/spring-data.xml
		</param-value>
		
	</context-param>
    
    <!-- Bootstraps the root web application context before servlet initialization +++spring+++ -->
    	

	
	
	
	
	
 <!-- *********************************************End Listener**************************************************** -->
  <!-- *********************************************Servlet**************************************************** -->    


  <!-- The front controller of this Spring Web application, responsible for handling all application requests -->
  
  <!-- +++Spring+++ -->
	
	
	<servlet>
		<servlet-name>filter.ServletCli</servlet-name>
	
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet>
		<servlet-name>filter.ServletPro</servlet-name>
		
		<load-on-startup>1</load-on-startup>
	</servlet>
	
<!-- Map all requests to the DispatcherServlet for handling +++spring+++-->
	
<servlet-mapping>
	
    <servlet-name>default</servlet-name>
    <url-pattern>/inc/*</url-pattern>
    <url-pattern>/index.html</url-pattern>
     <url-pattern>/html/*</url-pattern>
</servlet-mapping>

  

	<servlet-mapping>
		<servlet-name>filter.ServletCli</servlet-name>
		<url-pattern>/cli/*</url-pattern>
	</servlet-mapping>
	
		<servlet-mapping>
		<servlet-name>filter.ServletPro</servlet-name>
		<url-pattern>/pro/*</url-pattern>
	</servlet-mapping>

<!-- *********************************************End Servlet MApping**************************************************** -->
</web-app>
